<template>
  <base-dialog v-if="inputIsInvalid" title="Invalid Input" @close="confirmError">
    <template v-slot:default>
      <p>Unfortunately, at least one input value is invalid.</p>
      <p>Please check all inputs and make sure you enter at least a few characters into each input field.</p>
    </template>
    <template v-slot:actions>
      <base-button v-on:click="confirmError">Okay</base-button>
    </template>
  </base-dialog>
  <base-card>
    <form v-on:submit.prevent="submitData">
      <div class="form-control">
        <label for="title">Title</label>
        <input id="title" name="title" type="text" ref="titleInput">
      </div>
      <div class="form-control">
        <label for="description">Description</label>
        <textarea id="description" name="description" ref="descriptionInput"></textarea>
      </div>
      <div class="form-control">
        <label for="link">Link</label>
        <input id="link" name="link" type="url" ref="linkInput">
      </div>
      <div>
        <base-button type="submit">Save</base-button>
      </div>
    </form>
  </base-card>
</template>

<script>
export default {
  name: "AddLearningResource",
  inject: [
    'addResource'
  ],
  data() {
    return {
      inputIsInvalid: false
    }
  },
  methods: {
    submitData() {
      const titleValue = this.$refs.titleInput.value;
      const descriptionValue = this.$refs.descriptionInput.value;
      const linkValue = this.$refs.linkInput.value;

      if (titleValue.trim() === '' || descriptionValue.trim() === '' || linkValue.trim() === '') {
        this.inputIsInvalid = true
        return;
      }

      this.addResource(titleValue, descriptionValue, linkValue)
    },
    confirmError() {
      console.log('confirm')
      this.inputIsInvalid = false;
    }
  }
}
</script>

<style scoped>
label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

input,
textarea {
  display: block;
  width: 100%;
  font: inherit;
  padding: 0.15rem;
  border: 1px solid #ccc;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #3a0061;
  background-color: #f7ebff;
}

.form-control {
  margin: 1rem 0;
}
</style>