<template>
  <base-card>
    <base-button @click="setSelectedTab('learning-resources-list')" :mode="resourcesListButtonMode">Learning Resources
      List
    </base-button>
    <base-button @click="setSelectedTab('add-learning-resource')" :mode="addResourceButtonMode">
      Add Resource
    </base-button>
  </base-card>
  <keep-alive>
    <component :is="selectedTab"></component>
  </keep-alive>
</template>

<script>
import LearningResourcesList from "@/components/learning-resources/list/LearningResourcesList";
import AddLearningResource from "@/components/learning-resources/actions/AddLearningResource";

export default {
  name: "TheResources",
  components: {
    LearningResourcesList, AddLearningResource
  },
  data() {
    return {
      selectedTab: 'learning-resources-list',
      storedResources: [
        {
          id: 'official-guide',
          title: 'Official guide',
          description: 'The official Vue.js documentation',
          link: 'https://vuejs.org'
        },
        {
          id: 'google',
          title: 'Google',
          description: 'Learn to google...',
          link: 'https://google.com'
        }
      ]
    }
  },
  provide() {
    return {
      resources: this.storedResources,
      addResource: this.addResource,
      deleteResource: this.deleteResource,
    }
  },
  methods: {
    setSelectedTab(tab) {
      this.selectedTab = tab;
    },
    addResource(title, description, link) {
      this.storedResources.unshift({
        id: new Date().toISOString(),
        title: title,
        description: description,
        link: link
      });
      this.selectedTab = 'learning-resources-list';
    },
    deleteResource(id) {
      const index = this.storedResources.findIndex(res => res.id === id);
      this.storedResources.splice(index, 1)
    }
  },
  computed: {
    resourcesListButtonMode() {
      return this.selectedTab === 'learning-resources-list' ? null : 'flat';
    },
    addResourceButtonMode() {
      return this.selectedTab === 'add-learning-resource' ? null : 'flat';
    }
  }
}
</script>

<style scoped>

</style>