<template>
  <li>
    <base-card>
      <header>
        <h3>{{ resource.title }}</h3>
        <base-button mode="flat" v-on:click="deleteResource(resource.id)">Delete</base-button>
      </header>
      <p>{{ resource.description }}</p>
      <nav>
        <a target="_blank" v-bind:href="resource.link">View resource</a>
      </nav>
    </base-card>
  </li>
</template>

<script>

import BaseButton from "@/components/base/BaseButton";

export default {
  name: "LearningResource",
  components: {BaseButton},
  props: ['resource'],
  inject: ['deleteResource']
}
</script>

<style scoped>
li {
  margin: auto;
  max-width: 40rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h3 {
  font-size: 1.25rem;
  margin: 0.5rem 0;
}

p {
  margin: 0.5rem 0;
}

a {
  text-decoration: none;
  color: #ce5c00;
}

a:hover,
a:active {
  color: #c89300;
}
</style>