<template>
  <ul>
    <learning-resource v-for="resource in resources"
                       v-bind:key="resource.id"
                       v-bind:resource="resource">
    </learning-resource>
  </ul>
</template>

<script>
import LearningResource from "@/components/learning-resources/list/LearningResource";

export default {
  name: "LearningResourcesList",
  components: {
    LearningResource
  },
  inject: [
    'resources'
  ]
}
</script>

<style scoped>
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: auto;
  max-width: 40rem;
}
</style>