<template>
  <the-header title="Learning Resources Manager"></the-header>
  <the-resources></the-resources>
</template>

<script>
import TheHeader from "@/components/base/layout/TheHeader";
import TheResources from "@/components/learning-resources/TheResources";

export default {
  name: "App",
  components: {
    TheResources,
    TheHeader
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}
</style>